html, body {

}

#voximplant_container {

}

video {
  display: block;
  width: 320px;
  height: 240px;
}

#voximplantlocalvideo {
  width: 320px;
  height: 240px;
}

td {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background: gray;
  color: white;
}

.clicked {
  background: blue;
}

.highlighted {
  background: orange;
}

.hinted {
  background: red;
}